USE [master]
GO
/****** Object:  Database [ATF_Bank]    Script Date: 27.02.2023 18:21:24 ******/
CREATE DATABASE [ATF_Bank]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ATF_Bank', FILENAME = N'E:\DataBase\MSSQL16.SQLEXPRESS\MSSQL\DATA\ATF_Bank.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ATF_Bank_log', FILENAME = N'E:\DataBase\MSSQL16.SQLEXPRESS\MSSQL\DATA\ATF_Bank_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ATF_Bank].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ATF_Bank]
GO
/****** Object:  Table [dbo].[HISTORY]    Script Date: 27.02.2023 18:21:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HISTORY](
	[t_sender] [varchar](50) NULL,
	[t_reciever] [varchar](50) NULL,
	[t_amount] [int] NOT NULL,
	[t_datetime] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USERS]    Script Date: 27.02.2023 18:21:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERS](
	[u_login] [varchar](50) NOT NULL,
	[u_password] [varchar](50) NOT NULL,
	[u_name] [varchar](50) NULL,
	[u_surname] [varchar](50) NULL,
	[u_email] [varchar](50) NULL,
	[u_phoneNumber] [varchar](50) NULL,
	[u_currentMoney] [int] NULL,
	[u_increasedMoney] [int] NULL,
	[u_decreasedMoney] [int] NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HISTORY] ADD  CONSTRAINT [DF__HISTORY__t_amoun__5BE2A6F2]  DEFAULT ((0)) FOR [t_amount]
GO
ALTER TABLE [dbo].[USERS] ADD  CONSTRAINT [DF__USERS__u_current__36B12243]  DEFAULT ((0)) FOR [u_currentMoney]
GO
ALTER TABLE [dbo].[USERS] ADD  CONSTRAINT [DF__USERS__u_increas__37A5467C]  DEFAULT ((0)) FOR [u_increasedMoney]
GO
ALTER TABLE [dbo].[USERS] ADD  CONSTRAINT [DF__USERS__u_decreas__38996AB5]  DEFAULT ((0)) FOR [u_decreasedMoney]
GO
USE [master]
GO
